footer {
    background: #433732;
    color: var(--white);
    padding: 64px 48px 32px;
}
.footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 48px;
    margin-bottom: 48px;
}
.footer-brand {
    font-family: var(--font-display);
    font-size: 24px;
    margin-bottom: 16px;
    color: #efcdc3;
}
.footer-desc {
    font-size: 13px;
    line-height: 1.8;
    margin-bottom: 24px;
    color: #d3c8b7;
}

.footer-contact-btn {
    background: #433732;
    color: var(--white);
    border: var(--white);
    padding: 14px 0px;
    font-size: 13px;
    cursor: pointer;
    font-family: inherit;
    transition: background 0.2s;
}
.social-links {
    display: flex;
    gap: 10px;
}

.social-links a {
    margin: 14px 0px;
}

.social-icon {
    size: 5px;
    width: 28px;
    height: 28px;
    size: 13px;
    border-radius: 50%;
    border: 1.5px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    transition:
        border-color 0.2s,
        color 0.2s;
}

.social-icon:hover {
    border-color: #111;
    color: #111;
}
.footer-col h4 {
    color: white;
    margin-bottom: 20px;
}
.footer-col ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-col ul li a {
    color: #d3c8b7;
    font-size: 13px;
    transition: var(--transition);
    cursor: pointer;
}
.footer-col ul li a:hover {
    color: var(--white);
}
.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 0.35);
    font-size: 12px;
}
